html 
    head
    

        style
            include index.css
    body 
        <h1> Student Note </h2>
        <h2>  moodles </h2>

        <table>
           
                <th>
                    <div id="#card1">
               
                        <div id="#card1">
                            <h3 style="color:green">Software Development 2</h3>
                            <p class="card-text">Notes from week1 to week12</p>
                            <button type="button">Enter</button>
                        </div>
                    </div>
             
            
                <th>
                    <div id="#card1">
               
                        <div id="#card1">
                            <h3 style = "color:purple">Cyber Security</h3>
                            <p>Notes from week1 to week12</p>
                            <button style ="color:red" type="button">Enter</button>
                        </div>
                    </div>
                
            
            
                <th>
                    <div id="#card1">
               
                        <div id="#card1">
                            <h3 style ="color:blue">Database</h3>
                            <p class="card-text">Notes from week1 to week12</p>
                            <button style="color:orange" type="button">Enter</button>
                        </div>
                    </div>