doctype html
head 
    title Home Page 
    style. 
        .heading {
            overflow: hidden;
            background-color: pink;
            padding: 30px 20px;
        }
        .header-right{
            text-align:center;
        }
        .rest{
            text-align: center;
        }
body(style="background-color:lavender;") 
    div(class="heading")
        img(src="C:/Users/student/Documents/New folder/docker-recipes/NoteSharing/app/views/student-note-sharing/student-note-sharing/app/views/Images/LOGO.PNG")
        div(class="header-right")
            h1 STUDENT NOTE SHARING 
    div(class="rest")
        br
        br
        br
        br
        br
        br
        br
        br
        h2
            a(href="http://127.0.0.1:3000/login") LOGIN 
        br 
        h2 
            a(href="http://127.0.0.1:3000/register") REGISTER 
        br 
        h2 
            a(href="http://127.0.0.1:3000/StudentPage")  Student Page