extends layout.pug
block content
  h1  Student Page:
    h2  Hey There!
    p   Find your course here

    table
      tr
        th  Software Development 2 
          a(href="https://moodle.roehampton.ac.uk/course/view.php?id=10989") Visit moodle
        form 
          label(name = "Comment")
          input(type="text")
          input(type="submit" value="Submit")
        <br>  
        
  
        th  Databases 
          a(href="https://moodle.roehampton.ac.uk/course/view.php?id=10743") Visit moodle
          form 
          label(name = "Comment")
          input(type="text")
          input(type="submit" value="Submit")
          <br>


        th  Cyber Security 
          a(href="moodle.roehampton.ac.uk/course/view.php?id=10990") Visit moodle
        form 
          label(name = "Comment")
          input(type="text")
          input(type="submit" value="Submit")
          <br>
